<!DOCTYPE html>
<html lang="en">
<head>
<title>
{{ title }}
</title>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
<meta content="{{ description }}" name="description">
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1" name="viewport">
<meta content="ie=edge" http-equiv="x-ua-compatible">
<link href="https://Vandit1604.github.io/jenkins.io/independent-scrolling-patch/templates/downloads/" rel="canonical">
<!-- Favicons -->
<link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
<link href="/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180">
<link href="/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png">
<link href="/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png">
<link href="/site.webmanifest" rel="manifest">
<link color="#5bbad5" href="/safari-pinned-tab.svg" rel="mask-icon">
<meta content="#2b5797" name="msapplication-TileColor">
<meta content="#ffffff" name="theme-color">
<meta content="{{ title }}" name="apple-mobile-web-app-title">
<!-- Twitter Card data -->
<meta content="summary_large_image" name="twitter:card">
<meta content="@JenkinsCI" name="twitter:site">
<meta content="{{ title }}" name="twitter:title">
<meta content="{{ description }}" name="twitter:description">
<meta content="@JenkinsCI" name="twitter:creator">
<!-- Twitter Summary card images must be at least 120x120px -->
<meta content="{{ opengraphImage }}" name="twitter:image">
<!-- Open Graph data -->
<meta content="{{ title }}" property="og:title">
<meta content="article" property="og:type">
<meta content="https://Vandit1604.github.io/jenkins.io/independent-scrolling-patch/templates/downloads/" property="og:url">
<meta content="{{ description }}" name="og:description">
<meta content="{{ title }}" property="og:site_name">
<meta content="{{ opengraphImage }}" name="og:image">
<link href="/jenkins.io/independent-scrolling-patch/assets/bower/bootstrap/css/bootstrap.min.css" media="screen" rel="stylesheet">
<link href="/jenkins.io/independent-scrolling-patch/css/jenkins.css" media="screen" rel="stylesheet">
<link href="/jenkins.io/independent-scrolling-patch/stylesheets/styles.css" media="screen" rel="stylesheet">
<!-- Non-obtrusive CSS styles -->
<link href="/jenkins.io/independent-scrolling-patch/css/footer.css" media="screen" rel="stylesheet">
<link href="/jenkins.io/independent-scrolling-patch/css/font-awesome.min.css" media="screen" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/@docsearch/css@3" rel="stylesheet">
</head>
<body>
<script src="/jenkins.io/independent-scrolling-patch/assets/bower/jquery/jquery.min.js"></script>
<!-- starting partial toptoolbar.html.haml -->
<jio-navbar class="fixed-top" id="ji-toolbar" property="https://www.jenkins.io" showSearchBox=""></jio-navbar>
<!-- Spacing to make the fixed-top sticky navbar not occlude any content below it -->
<div class="pt-4">
&nbsp;
</div>

<!-- ending partial toptoolbar.html.haml -->
<style>
  .artifact-list {
    padding: 0;
  }
  .artifact-list li {
    list-style: none;
    margin-bottom: .5rem;
    align-items: center;
  }
  .artifact-list .version {
    background-image: url(https://www.jenkins.io/images/jar.svg);
    background-size: 24px;
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .artifact-list .checksums {
    font-size: .7rem;
  }
  .artifact-list .core-dependency {
    font-size: .7rem;
  }
  .subtitle {
    color: #999;
  }
  
  @media (min-width: 768px) {
    .artifact-list {
      display: table;
    }
    .artifact-list li {
      display: table-row;
    }
    .version {
      display: table-cell;
      padding-left: 2rem;
      vertical-align: middle;
    }
    .artifact-list .core-dependency {
      margin-bottom: 10px;
    }
  }
</style>
<div class="container">
<h1 class="mt-3">{{ title }}</h1>
<div class="subtitle mb-2">{{ subtitle }}</div>
<ul class="artifact-list">{{ content }}</ul>
</div>


<script src="/jenkins.io/independent-scrolling-patch/assets/bower/anchor-js/anchor.min.js"></script>
<script src="/jenkins.io/independent-scrolling-patch/assets/bower/@popperjs/core/umd/popper.min.js"></script>
<script src="/jenkins.io/independent-scrolling-patch/assets/bower/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lit@2.5.0/polyfill-support.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@webcomponents/webcomponentsjs@2.6.0/webcomponents-loader.js"></script>
<script data="ionicons" defer="" src="https://cdnjs.cloudflare.com/ajax/libs/ionicons/5.5.2/ionicons/ionicons.esm.js" type="module"></script>
<script data="ionicons" defer="" nomodule="" src="https://cdnjs.cloudflare.com/ajax/libs/ionicons/5.5.2/ionicons/ionicons.js"></script>
<script defer="" src="https://cdn.jsdelivr.net/npm/@jenkinsci/jenkins-io-components/+esm" type="module"></script>
<script defer="" nomodule="" src="https://cdn.jsdelivr.net/npm/@jenkinsci/jenkins-io-components/"></script>
<jio-footer githubBranch="master" githubRepo="jenkins-infra/jenkins.io" property="https://www.jenkins.io" sourcePath=""></jio-footer>
<script>
 (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
 
ga('create', 'UA-000000-0', 'auto');
ga('send', 'pageview');
ga('set', 'anonymizeIp', true);

</script>

<script>
  $(function(){
    var $body = $(document.body);
    $body.on("keydown", function(){
      $body.removeClass("no-outline");
    })
  })
</script>
<script src="https://cdn.jsdelivr.net/npm/@docsearch/js@3" type="text/javascript"></script>
<script type="text/javascript">
docsearch({
  container: document.querySelector('input.searchbox').parentNode,
  indexName: 'jenkins',
  appId: "M6L7Q4Z8HS",
  apiKey: "52f8dfbff76ffd9106f1c68fee16154b",
  algoliaOptions: { 'facetFilters': ["tags:en"] },
  debug: false
});
</script>
</body>
</html>
